
# Serpent only supports Windows through Anaconda. These are the missing packages from the Anaconda Distribution

# Frame Capture
mss

# Input
PyAutoGUI
pyperclip
win32gui

# Kivy
Kivy

# OCR
pytesseract

# Network
autobahn

# Misc
editdistance

# Input
PyAutoGUI
win32gui
sneakysnek

# Network
autobahn
crossbar

#pip install -upgrade --force-reinstall crossbar
# Misc
editdistance

# SciPy
numpy
scikit-learn
scikit-image
h5py
